.DS_Store

settings.json
!.vscode/*

Code
Code - Insiders
settings.json.orig

workspaceStorage
globalStorage
History
syncLocalSettings.json
sync
.syncthing*

.agents
AGENTS.md
CLAUDE.md

zed
sublime
vim
nvim
tools
EDITOR_*.md

package.json
node_modules
bun.lock
